$slate-50: #f8fafc;
$slate-700: #0f172a;
$gray: #e5e7eb;

.container {
  padding: 20px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // width: 100vw;
  min-height: 100vh;

  &__title {
    font-size: 32px;
    margin-bottom: 10px;
  }
  &__form {
    width: 420px;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    &__message {
      color: red;
      font-size: 19px;
      text-align: center;
    }
    &__item {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      &__input {
        padding: 10px;
        border: none;
        background-color: #eee;
        margin-top: 5px;
        outline: none;
      }
    }
    &__button {
      background-color: $gray;
      color: $slate-700;
      border: 2.6px solid $slate-700;
      width: 100%;
      font-size: 16px;
      cursor: pointer;
      padding: 9px;
      margin: 6px 0;
      border-radius: 6px;
    }
    &__buttonGoogle {
      padding: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      span {
        color: black;
        font-weight: 700;
      }
    }
  }
  &__link {
    margin: 10px 0;
    a {
      color: #23bebe;
    }
  }
}

@media (max-width: 556px) {
  .register {
    &__form {
      width: 100%;
    }
  }
}
